./ch2/ex2.2/convert
./ch3/ex3.12/anagram
./ch3/ex3.1/surface
./ch3/ex3.10/comma
./ch3/ex3.11/comma
./ch3/ex3.2/surface
./ch5/ex5.3/showText/showText
./ch5/ex5.2/numElements/numElements
./ch5/ex5.7/HTMLPrettyPrinter/HTMLPrettyPrinter
./ch5/ex5.4/findlinks/findlinks
./ch5/ex5.5/countWordsAndImages/countWordsAndImages
./ch5/ex5.1/findlinks1/findlinks1
./ch1/ex1.9/fetch
./ch1/ex1.10/fetchall
./ch1/ex1.4/dup2
./ch1/ex1.11/fetchall
./ch1/ex1.8/fetch
./ch1/ex1.7/fetch
./ch1/ex1.12/lissajousServer
./ch1/ex1.1/echo
./ch1/ex1.2/echo
./ch4/ex4.6/squash
./ch4/ex4.2/printsha
./ch4/ex4.5/dedup
./ch4/ex4.10/issues
./ch4/ex4.1/diffsha256
./ch4/ex4.4/rotate
./ch4/ex4.9/wordfreq
./ch4/ex4.8/charcount
./ch4/ex4.12/xkcdsearch
./ch4/ex4.7/reverse
